body{
	background-color: #ffffff;
	font-size: 1.1em;
	margin-right: 70px;
	margin-left: 70px;
	font-family: Arial;

}

h1{
	color: gray;
	font-variant: all-small-caps;

}

h2 {
	padding-left: 20px;

}

h3 {
	padding-left: 50px;

}


header{
	background-color: #CDCDCD;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;

}

header h1{
	color: red;

}

figure img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	
}

figcaption{
	text-align: center;
	font-size: 0.8em;
	
}

.ButtonRep1 {
	background-color: #117727;
	display: inline-block;
	width: 120px;
	padding: 10px;
	color: rgb(255, 255, 255);
	text-decoration: none;
	text-align: center;
	position: relative;
	margin: 50px;

}

.ButtonRep2 {
	background-color: #eee8e8;
	display: inline-block;
	width: 120px;
	padding: 10px;
	color: rgb(0, 0, 0);
	text-decoration: none;
	text-align: center;
	position: relative;
	margin: 50px;
	left: 300px;

}

.rep1{
	width: 300px;
	margin-left: -50px;
	padding-left: 0px;
	border: solid;
	background-color: gray;
	position: absolute;
	top: 230px;
	left: 75px;

}

.rep2{
	width: 300px;
	margin-left: -50px;
	padding-left: 0px;
	border: solid;
	background-color: gray;
	position: absolute;
	left: 600px;
	top: 240px;

}


